body {
    font-family: "Roboto", "Raleway", sans-serif;
    background-color: #fff;
    color: #434455;
}

ul,
ol {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

address {
    font-style: normal;
}